@model WebUI.Models.ProductListViewModel


@{
    ViewBag.Title = "List";
}


@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary",p)

}
    <div>
        @*https://localhost:44341/CategoryBasketPage1*@
        @Html.PageLinks(Model.PagingInfo, i => Url.Action("List", 
       new { category = Model.CurrentCategory, page = i }))
    </div>



